{% extends 'base.html.twig' %}

{% block body %}

<h1>Products</h1>

{% for message in app.session.flashBag.get('notice') %}
    <div class="panel panel-success">
     <div class="panel-heading">Message</div>
        <div class="panel-body">
            <p>{{ message }}</p>
        </div>
    </div>
{% endfor %}

<div class="panel panel-success" style="display:none">
     <div class="panel-heading">Message</div>
        <div class="panel-body">
            <p></p>
        </div>
    </div>  
</div>

<a href="{{ path('app_products_create') }}">Ajouter un produit</a>
<table class="table table-bordered">
    <tr>
        <th>
            ID
        </th>
        <th>
            Référence
        </th>
        <th>
            Actions
        </th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.reference }}</td>
            <td>
                <a href="{{ path('app_products_show', {id: product.id}) }}">Voir</a>
                <a href="{{ path('app_products_edit', {id: product.id}) }}">Editer</a>
                <form action="{{ path('app_products_delete', {id: product.id}) }}" method="post" style="display:inline" onsubmit="return confirm('êtes-vous sûr ?')">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="submit" value="Supprimer" />
                </form>
                <button onClick="deleteProduct({{ product.id }})">Supprimer avec ajax</button>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}