{% extends 'base.html.twig' %}

{% block body %}

<h1>Products</h1>
<a href="/products/create">Ajouter un produit</a>
<ul>
    {% for product in products %}
        <li>ID : {{ product['id'] }} - REF: {{ product['reference'] }} 
        - <a href="/products/{{ product['id'] }}">Voir</a>
        - <a href="/products/{{ product['id'] }}/edit">Editer</a>
        - 
        <form action="/products/{{ product['id'] }}" method="post" style="display:inline" onsubmit="return confirm('êtes-vous sûr ?')">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Supprimer" />
        </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}