{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoices list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Client</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td><a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                <td>{{ invoice.designation }}</td>
                <td>{{ invoice.client }}</td>
                <td>{{ invoice.state ? 'opened' : 'closed' }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('invoice_show', { 'id': invoice.id }) }}">show</a>
                        </li>
                        {% if invoice.opened %}
                            <li>
                                <a href="{{ path('invoice_edit', { 'id': invoice.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('invoice_close', { 'id': invoice.id }) }}">close</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'paginator.html.twig' %}

    <p></p>

    <ul>
        <li>
            <a href="{{ path('invoice_new') }}">Create a new invoice</a>
        </li>
    </ul>
{% endblock %}
