{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoiceline</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoiceLine.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ invoiceLine.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invoiceline_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('invoiceline_edit', { 'id': invoiceLine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
